html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, #8cab3c, #e4bd42, #eca87d, #e4bd42, #8cab3c);
}

.c-icon-link {
    color: black;
    transition: color 0.3s ease;
}

.c-icon-link:hover i {
    color: #3B3F32;
}

.form-check-input:checked {
    background-color: #3B3F32;
    border-color: #e4bd42;
    box-shadow: 0 0 0 0.25rem rgba(228, 189, 66, 0.25);
}

.form-check-input:focus {
    border-color: #e4bd42;
    box-shadow: 0 0 0 0.25rem rgba(228, 189, 66, 0.25);
}

.form-control:focus {
    border-color: #e4bd42;
    box-shadow: 0 0 0 0.25rem rgba(228, 189, 66, 0.25);
}

.form-select:focus {
    border-color: #e4bd42;
    box-shadow: 0 0 0 0.25rem rgba(228, 189, 66, 0.25);
}

select option:hover {
    background-color: #e4bd42;
}

.modal .form-check-input:checked {
    background-color: #3B3F32;
    box-shadow: 0 0 0 0.25rem rgba(228, 189, 66, 0.25);
}

.modal .form-check-input:focus {
    border-color: #e4bd42;
    box-shadow: 0 0 0 0.25rem rgba(228, 189, 66, 0.25);
}

.modal .form-control:focus {
    border-color: #e4bd42;
    box-shadow: 0 0 0 0.25rem rgba(228, 189, 66, 0.25);
}

.modal .form-select:focus {
    border-color: #e4bd42;
    box-shadow: 0 0 0 0.25rem rgba(228, 189, 66, 0.25);
}

.modal .form-select option:hover, .modal .form-select option:focus {
    background-color: #e4bd42;
}

.modal select option:hover {
    background-color: #e4bd42;
}